// app global css in SCSS form

.card-conteudo{
    margin: auto;
    background-color: white;
    width: 38vw;
    height: 70vh;
}

.card-cadastro{
    margin: auto;
    background-color: white;
    width: 38vw;
    height: 82vh;
}

h1{
    text-align: center;
    font-size:  4vh;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.input .q-field{
    border-radius: 0;
    border: 2px solid black;
}

.caixa-input{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5vw;
    
}

.caixa-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
   
   

}

.btn-login {
    border-radius: 8px;
    width: 25vw;
    background-color: black;
    color: white;
    text-transform: none;
  

}



.criar-conta{
   text-align: center;
   margin-top: 2vw;
   cursor: pointer;
}

.input-error input {
    border-color: red !important;
  }